.photo img {
    display: block;
    margin: 0 auto;
    transition: border-radius 0.3s;
    max-width: 150px; /* Ajustez cette valeur selon vos besoins */
    height: auto;
    border-radius: 50%;
}

.photo img:hover {
    border-radius: 50%;
}
